<!DOCTYPE html>
<html>
    <head>
        <title>calculator</title>
    </head>
    <body>
        <div class="box">
            <div class="screen">
            <div class="main-screen" id="output">0</div>
            <div class="sub-screen" id="output2"></div>
        </div>

    <input type="hidden" id="num1">
    <input type="hidden" id="operator">
    <input type="hidden" id="num2">
    <input type="hidden" id="temp">



            <div class="container-fluid">
                <form action="" method="post">
                    <button type="submit" name="1">1</button>
                    <button type="submit" name="2">2</button>
                    <button type="submit" name="3">3</button>
                    <button type="submit" name="c">C</button>
                    <br>
                    
                    <button type="submit" name="4">4</button>
                    <button type="submit" name="5">5</button>
                    <button type="submit" name="6">6</button>
                    <button type="submit" name="+">+</button>
                    <br>
                     <div class="buttons">
                    <button type="submit" name="7">7</button>
                    <button type="submit" name="8">8</button>
                    <button type="submit" name="9">9</button>
                    <button type="submit" name="-">-</button>
                   
                     </div>
                    <button type="submit" name="0">0</button>
                    <button type="submit" name="*">*</button>
                    <button type="submit" name="/">/</button>
                    <button type="submit" name="=">=</button>
                    <br>

                    <button type="submit" name="(">(</button>
                    <button type="submit" name=")">)</button>
                    <button type="submit" name="sin">sin</button>
                    <button type="submit" name="tan">tan</button>
                    <br>

                    <button type="submit" name="cos">cos</button>
                    <button type="submit" name="log">log</button>
                    <button type="submit" name="sqrt">sqrt</button>
                    <button type="submit" name="CE">CE</button>
                    <br>
                    <div class="buttons">
        <button class="nums btn btn-default" value="1">1</button>
        <button class="nums btn btn-default" value="2">2</button>
        <button class="nums btn btn-default" value="3">3</button>
        <button class="btn-equal btn btn-info" id="resultButton">=</button>
      </div>


                </form>
            </div>
    </body>
</html>
